{{define "page"}}
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Parrot</title>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
	    <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
	</head>
	<body>
		<section class="section is-vcentered">
		{{template "yield" .}}	
		</section>
	</body>

	<style>
	.section {
		margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
		transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	}


    </style>
</html>

{{end}}
